@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #111827;
}

.dark {
  --bg: #0b1220;
  --fg: #e5e7eb;
}

html, body, #__next {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
}
